{@se.afshin.yavari.kafka.ui.cluster.ClusterCoordinates cluster}
{@java.lang.String active}
<div class="cluster-subnav">
    <ul class="nav nav-tabs container-fluid px-3 border-0">
        <li class="nav-item">
            <a class="nav-link {#if active == 'dashboard'}active{/if}"
               href="/clusters/{cluster.id}"
               hx-get="/clusters/{cluster.id}" hx-target="#main" hx-swap="innerHTML" hx-push-url="true">
                <i class="bi bi-speedometer2"></i>Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {#if active == 'topics'}active{/if}"
               href="/clusters/{cluster.id}/topics"
               hx-get="/clusters/{cluster.id}/topics" hx-target="#main" hx-swap="innerHTML" hx-push-url="true">
                <i class="bi bi-list-ul"></i>Topics
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {#if active == 'groups'}active{/if}"
               href="/clusters/{cluster.id}/groups"
               hx-get="/clusters/{cluster.id}/groups" hx-target="#main" hx-swap="innerHTML" hx-push-url="true">
                <i class="bi bi-people"></i>Consumer groups
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {#if active == 'access'}active{/if}"
               href="/clusters/{cluster.id}/acls"
               hx-get="/clusters/{cluster.id}/acls" hx-target="#main" hx-swap="innerHTML" hx-push-url="true">
                <i class="bi bi-shield-lock"></i>Access rules
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {#if active == 'schemas'}active{/if}"
               href="/clusters/{cluster.id}/schemas"
               hx-get="/clusters/{cluster.id}/schemas" hx-target="#main" hx-swap="innerHTML" hx-push-url="true">
                <i class="bi bi-file-earmark-code"></i>Schemas
            </a>
        </li>
    </ul>
</div>
