{@java.lang.String level}
{@java.lang.String message}
<div class="toast align-items-center text-bg-{level ?: 'success'} border-0"
     role="alert" aria-live="assertive" aria-atomic="true"
     data-bs-autohide="true" data-bs-delay="5000">
    <div class="d-flex">
        <div class="toast-body">
            <i class="bi {#if level == 'danger'}bi-exclamation-triangle-fill{#else if level == 'warning'}bi-exclamation-circle-fill{#else}bi-check-circle-fill{/if} me-2"></i>
            {message}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
